.affix {
  height: auto;
}

.affix > ul.level1 {
  overflow: inherit;
}

.affix ul > li.active > ul,
.affix ul > li.active > a:before,
.affix ul > li > a:hover:before {
  display: block;
  white-space: inherit;
}

.workflow {
  border: 1px solid #e3e3e3;
  padding: 1px;
}

.workflow > p > img {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.codeHeader {
  box-sizing: content-box;
  background-color: #f2f2f2;
  color: #171717;
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  margin-top: 16px;
  min-height: 30px;
}

.codeHeader > .language {
  padding: 2px 16px;
  flex-grow: 1;
  line-height: 26px;
}

.codeHeader > .action {
  position: relative;
  padding: 2px 10px;
  background-color: transparent;
  border: 0 solid #e3e3e3;
  border-left-width: 1px;
  color: #171717;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
}

.codeHeader .glyphicon {
  margin-right: 0.25em;
}

.codeHeader > .action:hover {
  background-color: #fafafa;
}

.codeHeader + pre {
  margin-top: 0;
  border: 1px solid #e3e3e3;
}

.codeHeader > .action .successful-copy-alert {
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  display: flex;
  background-color: #128712;
  outline-color: #fff;
  color: #fff;
}

.codeHeader > .action .successful-copy-alert.is-transparent {
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}

.diagram {
  text-align: center;
}

summary {
  display: list-item;
}

/* ==========================================================================
   MASTHEAD NAVIGATION ADAPTED FROM MINIMAL MISTAKES THEME
   Copyright (c) 2013-2020 Michael Rose and contributors
   Licensed under the MIT license. See LICENSE file in the project root for
   full license information.
   ========================================================================== */

:root {
  --gray: #7a8288;
  --lighter-gray: mix(#fff, var(--gray), 90%);
  --global-transition: all 0.2s ease-in-out;
  --intro-transition: intro 0.3s both;
  --sans-serif-narrow: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  --type-size-5: 1em;
  --type-size-8: 0.625em;
  --nav-height: 2.22em;
  --nav-toggle-height: 2em;
  --navicon-width: 1.5em;
  --navicon-height: 0.25em;
  --border-radius: 4px;
  --background-color: #fff;
  --primary-color: #6f777d;
  --border-color: var(--lighter-gray);
  --masthead-link-color: var(--primary-color);
  --masthead-link-color-hover: mix(#000, var(--primary-color), 25%);
  --navicon-link-color-hover: mix(#fff, var(--primary-color), 75%);
  --small: 600px;
  --medium: 768px;
  --medium-wide: 900px;
  --large: 1024px;
  --x-large: 1280px;
}

/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid mix(#fff, var(--gray), 90%);
  -webkit-animation: var(--intro-transition);
  animation: var(--intro-transition);
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
}

.masthead__inner-wrap {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1em 1em 0.1em 0em;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: var(--sans-serif-narrow);
  background: var(--background-color);
  font-size: 16px;
}

.container {
  width: 100%;
  --article-margin-top: 120px;
  --sidefilter-offset: -30px;
  --sidetoc-offset: 32px;
  --sideaffix-offset: -20px;
}

.navbar-brand {
  height: 100%;
  padding-top: 4.5px;
  padding-bottom: 0.5px;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: 0;
  margin-left: -20px;
}

.article {
  margin-top: var(--article-margin-top);
}

.sideaffix {
  overflow-x: hidden;
  overflow-y: auto;
  top: calc(var(--article-margin-top) + var(--sideaffix-offset));
}

.sidetoc {
  top: calc(var(--article-margin-top) + var(--sidetoc-offset));
}

.sidetoc.shiftup {
  bottom: 50px;
}

.sidefilter {
  top: calc(var(--article-margin-top) + var(--sidefilter-offset));
}

@media (min-width: 48em) {
  .container { --article-margin-top: 169px; }
  .masthead__inner-wrap {
    font-size: 18px;
    padding: 0.2em 1em 0.2em 0em;
  }

  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}

@media (min-width: 64em) {
  .container { --article-margin-top: 174px; }
  .masthead__inner-wrap { font-size: 20px; }
}

@media (min-width: 80em) {
  .container {
    max-width: var(--x-large);
    --article-margin-top: 179px;
  }

  .masthead__inner-wrap {
    font-size: 22px;
    max-width: var(--x-large);
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: var(--type-size-8);
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
}

/*
     Priority plus navigation
     ========================================================================== */

.greedy-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: var(--nav-height);
  background: var(--background-color);
}

.greedy-nav a {
  display: block;
  margin: 0 1em;
  color: var(--masthead-link-color);
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}

.greedy-nav a:hover {
  color: var(--masthead-link-color-hover);
}

.greedy-nav a.site-logo {
  margin-left: 0;
  margin-right: 0.5rem;
}

.greedy-nav a.site-title {
  margin-left: 0;
}

.greedy-nav img {
  -webkit-transition: none;
  transition: none;
}

.greedy-nav__toggle {
  -ms-flex-item-align: center;
  align-self: center;
  height: var(--nav-toggle-height);
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.greedy-nav .visible-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  line-height: 1.5;
}

.greedy-nav ul.visible-links {
  margin: 0px;
}

.greedy-nav .visible-links li {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.greedy-nav .visible-links a {
  position: relative;
}

.greedy-nav .visible-links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: var(--primary-color);
  width: 100%;
  -webkit-transition: var(--global-transition);
  transition: var(--global-transition);
  -webkit-transform: scaleX(0) translate3d(0, 0, 0);
  transform: scaleX(0) translate3d(0, 0, 0);
}

.greedy-nav .visible-links a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.greedy-nav .hidden-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--background-color);
  -webkit-box-shadow: 0 2px 4px 0 rgba(#000, 0.16),
    0 2px 10px 0 rgba(#000, 0.12);
  box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);
}

.greedy-nav .hidden-links.hidden {
  display: none;
}

.greedy-nav .hidden-links a {
  margin: 0;
  padding: 10px 20px;
  font-size: var(--type-size-5);
}

.greedy-nav .hidden-links a:hover {
  color: var(--masthead-link-color-hover);
  background: var(--navicon-link-color-hover);
}

.greedy-nav .hidden-links:before {
  content: "";
  position: absolute;
  top: -11px;
  right: 10px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: var(--border-color) transparent;
  display: block;
  z-index: 0;
}

.greedy-nav .hidden-links:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: var(--background-color) transparent;
  display: block;
  z-index: 1;
}

.greedy-nav .hidden-links li {
  display: block;
  border-bottom: 1px solid var(--border-color);
}

.greedy-nav .hidden-links li:last-child {
  border-bottom: none;
}

/*
   Navicons
   ========================================================================== */

.navicon {
  position: relative;
  width: var(--navicon-width);
  height: var(--navicon-height);
  background: var(--primary-color);
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navicon:before,
.navicon:after {
  content: "";
  position: absolute;
  left: 0;
  width: var(--navicon-width);
  height: var(--navicon-height);
  background: var(--primary-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navicon:before {
  top: calc(-2 * var(--navicon-height));
}

.navicon:after {
  bottom: calc(-2 * var(--navicon-height));
}