@import "workflow.css";

/* ==========================================================================
   DESIGN GUIDELINES STYLE
   ========================================================================== */

.do > p::before {
  content: "✔️ DO ";
}

.consider > p::before {
  content: "✔️ CONSIDER ";
}

.avoid > p::before {
  content: "❌ AVOID ";
}

.donot > p::before {
  content: "❌ DO NOT ";
}

[data-bs-theme=dark] #logo {
  content:url("../logo-dark.svg");
}

[data-bs-theme=light] #logo {
  content:url("../logo.svg");
}